@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

/* VARIABLES */
:root {
  --primary: #ffc636;
  --secondary: #0a0b5b;
}
/* GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL STYLES */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--secondary);
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

.btn {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
  transition: background 500ms ease;
}

.btn:hover {
  color: #222;
  background: var(--primary);
}

input,
textarea {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893d8;
  color: #f8f8f8;
  outline: none;
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  color: #dddbff;
  font-weight: normal;
}

h1,
h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.1em;
}

p,
a,
li {
  color: #9893d8;
}

.leading {
  font-size: 1.1em;
}

/* MOBILE STYLES */

/* SMALL TABLET STYLES */
@media screen and (min-width: 620px) {
}

/* lARGE TABLETS AND LAPTOPS STYLES */
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
}

/* DESKTOP STYLES */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

/* GRID TESTING */
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.projects a {
  text-align: center;
  background: grey;
  padding: 20px;
}
